NODE_ENV=development
PORT=3000
# For local development (without Docker)
MONGODB_URI=mongodb://127.0.0.1:27017/media-video-test
# For Docker development
# MONGODB_URI=mongodb://mongo:27017/media-video-test
