NODE_ENV=development
PORT=3000
# For local development (without Docker)
MONGODB_URI=mongodb://127.0.0.1:27017/media-video-test
# For Docker development
# MONGODB_URI=mongodb://mongo:27017/media-video-test

# Video upload settings
UPLOAD_DIR=./uploads/videos
MAX_VIDEO_SIZE=10737418240  # 10GB в байтах

# Redis settings (для Bull Queue)
REDIS_HOST=localhost
REDIS_PORT=6379